<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<script type="text/javascript">
	$('#testDateStrId').datepicker({
		format : 'dd/mm/yyyy',
		changeMonth : true,
		changeYear : true,
		autoClose : true,
		clearBtn : true
	});

	function getSampleExcel() {

		if (document.getElementById('testValId').selectedIndex != 0) {
			var e = document.getElementById("testValId");
			$("#testId").html(e.options[e.selectedIndex].text);
		}
	}
</script>
</head>
<body>
	<div class="portlet box green">
		<div class="portlet-title">
			<div class="caption">TEST MARKS UPLOAD</div>
		</div>
	</div>
	<form th:action="@{/student/uploadTestMarksUpload}" id="formId"
		method="post" enctype="multipart/form-data">

		<div class="row">
			<div class="col-md-4">
				<label>Test Name</label> <select class="form-control" name="testVal"
					id="testValId" onchange="getSampleExcel();">
					<option value="0">Select Test</option>
					<option th:each="testName: ${testList}" th:value="${testName.id}"
						th:text="${testName.name}"></option>
				</select>
			</div>
		</div>

		<div class="row">
			<div class="col-md-4">
				<label>TestDate</label> <input type="text" id="testDateStrId"
					name="testDateStr" readonly="readonly"
					placeholder="Pay Date (dd/mm/yyyy)"
					class="form-control placeholder-no-fix" />

			</div>
		</div>
		<div class="row">
			<div class="col-md-2">
				<label>Study Class</label> <select class="form-control"
					name="studyClass" id="studyClassId">
					<option value="0">Select Class</option>
					<option th:each="classVal: ${classList}" th:value="${classVal.id}"
						th:text="${classVal.displayName}"></option>
				</select>
			</div>

			<div class="col-md-2">
			
			<a id="testId" th:href="${'javascript:downloadExamMarksReport()'}"
					class="lblalert"> </a>
			</div>

		</div>
		<div class="row">
			<div class="col-md-4">

				<label>Upload File</label> <input type="file" id="uplodeFile"
					name="uploadFile">
			</div>
		</div>
	</form>
	<div class="col-md-12"
		style="border-top: 1px solid #ddd; padding-top: 15px">
		<div class="form-actions" id="submitId">
			<div class="row">
				<div class="col-md-12">
					<div class="pull-left">
						<button class="btn green button-submit"
						     onclick="uploadFile()">
							<span th:text="${'Upload File'}"></span> <i class="fa fa-check"></i>
						</button>

					</div>
				</div>
			</div>
		</div>
	</div>

	

</body>
<script th:inline="javascript">
	function downloadExamMarksReport() {

		var classId = $('select#studyClassId option:selected').val();
		alert(classId);
		var serverurl = "/student/getClassStudents?classId=" + classId;
		document.getElementById("formId").action = serverurl
		document.getElementById("formId").submit();
	}

	function uploadFile() {

		if (document.getElementById("testValId").selectedIndex == 0) {
			showToastr("Please Select test Name", "error");
			document.getElementById("testValId").focus();
			return false;
		} else if (document.getElementById("studyClassId").selectedIndex == 0) {
			showToastr("Please Select class year", "error");
			document.getElementById("studyClassId").focus();
			return false;
		} else if (document.getElementById("testDateStrId").value == '') {
			showToastr("Please Select test date", "error");
			document.getElementById("testDateStrId").focus();
			return false;
		} else {
			var form = $('#formId')[0];
			var data = new FormData(form);
			$.ajax({
				type : "post",
				url : $("#formId").attr("action"),
				data : data,
				enctype : 'multipart/form-data',
				processData : false,
				contentType : false,
				success : function(data) {
					if (data.toString().indexOf("FEEDBACK-1") != -1) {
						showToastr("Successfully Uploaded!!!", "success");
						showPage('/student/showUploadTestMarks', false);
					} else {
						alert(data);
					}
				},
				error : function() {
					alert('Error occured');
				}
			});
		}
	}
</script>
</html>
