<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>

<style>
.student-thum {
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.13), 0 2px 4px rgba(0, 0, 0, 0.18);
	cursor: pointer;
	background: #f9f9f9;
	border-radius: 6px;
	display: block;
	overflow: hidden;
	height: auto;
	position: relative;
	width: auto;
	padding: 0;
	text-align: center;
	margin-bottom: 15px;
}

.student-table {
	width: 100%
}

.student-table td {
	padding: 10px 3px;
	border-bottom: 1px dotted #999;
}

.student-table td:last-line {
	padding: 10px 3px;
	border-bottom: none;
}

.t-12 {
	font-size: 12px;
}

.font-orange {
	color: #ff6f61;
}

.student-thum img {
	display: block;
	text-align: center;
	margin: auto;
	margin-bottom: 10px;
	margin-top: 10px;
	border: 3px solid #cccccc
}

.table {
	width: 100%;
	margin-bottom: 0;
}

.dataTables_scrollHead {
	border-bottom: none !important;
}

#sample_3_filter, #sample_3_length, #sample_3_paginate {
	display: none
}

.dt-button {
	display: none;
}

.m-b-15 {
	margin-bottom: 15px;
}

.bg-active {
	background: #b2e1ff80 !important;
	color: #000 !important
}

.tab-content {
	font-size: 12px
}

.tab-content .form-control {
	margin-bottom: 10px;
	height: 28px;
	line-height: 28px;
}

.tab-content label {
	display: inline-block;
	margin-bottom: 2px;
}

.t-11 {
	font-size: 11px
}

.txt-open {
	color: #ffffff;
	background: #6200ee;
	text-align: center;
	padding: 4px 15px;
	border-radius: 2px !important;
	font-weight: bold;
	font-size: 12px;
}

.txt-close {
	color: #ffffff;
	background: #ff0266;
	text-align: center;
	padding: 4px 15px;
	border-radius: 2px !important;
	font-weight: bold;
	font-size: 12px;
}

.form-control {
	margin-bottom: 5px;
}

.form-control::-moz-placeholder {
	color: #999;
	opacity: 1;
	font-size: 12px;
}

input, select {
	font-size: 12px !important
}
</style>


<!-- END THEME LAYOUT STYLES -->
<link rel="shortcut icon" href="favicon.ico" />
</head>
<!-- END HEAD -->

<body
	class="page-container-bg-solid page-header-fixed page-sidebar-closed page-sidebar-fixed">
	<!--<body class="page-container-bg-solid page-header-fixed page-sidebar-closed page-sidebar-fixed">-->
	<!-- BEGIN CONTAINER -->

	<!-- BEGIN PAGE BASE CONTENT -->
	<div class="row" id="anil">
		<div class="col-md-12">
			<div class="portlet light portlet-fit bordered calendar card-1">
				<div class="portlet-title">
					<div class="caption">
						<span class="caption-subject">Employee Search</span>
					</div>
				</div>
				<div class="portlet-body">
					<div class="row">

						<div class="col-md-2">
							<input name="" type="text" class="form-control"
								placeholder="Payroll Id" id="txtPayrollIdName">
						</div>
						<div class="col-md-2">
							<input name="" type="text" class="form-control"
								placeholder="Employee name" id="txtEmployeeName">
						</div>
						<div class="col-md-2">
							<input name="" type="text" class="form-control"
								placeholder="Surname" id="txtSurname">
						</div>
						<div class="col-md-2">
							<input name="" type="text" class="form-control"
								placeholder="Mobile No." id="txtMobileNo">
						</div>

						<div class="col-md-2">
							<button type="button" class="btn btn-primary" id="searchBtnId">Search</button>
							<button type="button" class="btn btn-primary" id="addStudentId"
								onclick="addEmpDetails()">New</button>
						</div>
					</div>
					<div class="clearfix m-b-15"></div>

					<div id="employeesGridId"></div>


				</div>
			</div>
		</div>
	</div>


	<div id="employeeInfoDivId"></div>
	<div id="employeeAddDivId"></div>

	<div id="printId" style="display: none;"></div>

	<!-- END CONTAINER -->
	<script>
	  
			$("#searchBtnId")
					.click(
							function() {
								
								
								$("#employeeInfoDivId").hide();
								$("#employeeAddDivId").hide(); 

								var sb = null;
								sb = document.getElementById("txtMobileNo").value
										.trim()
										+ document.getElementById("txtSurname").value
												.trim()
										+ document
												.getElementById("txtEmployeeName").value
												.trim()
										+ document
												.getElementById("txtPayrollIdName").value
												.trim();

								if (sb == "") {
									alert("Please enter the any fileds");
									document.getElementById("txtMobileNo")
											.focus();
									return false;
								} else if (isNaN(document
										.getElementById("txtMobileNo").value
										.trim())) {
									alert("Please Enter Numerics Only For Application No");
									document.getElementById("txtMobileNo").value = '';
									document.getElementById("txtMobileNo")
											.focus();
									return false;
								}
								if ($('#txtMobileNo').val() != ""
										&& $('#txtMobileNo').val().length < 9) {
									alert("Please enter full application no.");
									document.getElementById("txtMobileNo")
											.focus();
									return false;
								} else {
									$("#employeesGridId").show();
									$
											.ajax({
												type : "GET",
												url : "/employee/searchEmployee",
												data : {
													mobileNo : $("#txtMobileNo")
															.val(),
													surName : $("#txtSurname")
															.val(),
													employeeName : $(
															"#txtEmployeeName")
															.val(),
													payrollId : $(
															"#txtPayrollIdName")
															.val()
												},
												success : function(data) {
													$("#employeesGridId").show();
													$('#employeesGridId').html(
															data);
													$("#employeeInfoDivId")
															.slideUp();
													$("#downId").show();
												},
												error : function(jqXHR,
														exception, textStatus) {
													alert('Uncaught Error.\n'
															+ jqXHR.responseText);

												},
											});
								}
							});
 
			$("#addStudentId")
			.click(
					function() {
						
						$("#employeesGridId").hide();
						$("#employeeInfoDivId").hide();
						$("#employeeAddDivId").show(); 

						
					});

			function getEmployeeDetails(employeeId) {
				$.ajax({
					type : "GET",
					url : "/employee/getEmployeeInfo",
					data : {
						employee : employeeId
					},
					success : function(data) {
						$("#employeeInfoDivId").show();
						$('#employeeInfoDivId').html(data);
						if($('#employeeInfoDivId').is(":hidden")){
							$("#employeeInfoDivId").show();
						}
						
						if($('#downId').is(":hidden")){
							$("#downId").show();
						}
						
					},
					error : function(jqXHR, exception, textStatus) {
						alert('Uncaught Error.\n' + jqXHR.responseText);
					},
				});

			}
			
			function addEmpDetails() {
				$.ajax({
					type : "GET",
					url : "/employee/addEmployeeInfo",
					success : function(data) {
						$("#employeesGridId").hide();
						$("#employeeInfoDivId").hide();
						$("#employeeAddDivId").show();
						$('#employeeAddDivId').html(data);
						if($('#employeeAddDivId').is(":hidden")){
							$("#employeeAddDivId").show();
						}
						
					},
					error : function(jqXHR, exception, textStatus) {
						alert('Uncaught Error.\n' + jqXHR.responseText);
					},
				});

			}

			$('.number').keyup(function(event) {
				if (isNaN($(this).val())) {
					showToastr("Please Enter Numericals", "error");
					$(this).val('');
				}
			});
			
			function updateEmployee(employeeId) {
				
				if (confirm("Do you want to update employee ")) {
					
					 var form = $('#submit_form')[0];

					    var data = new FormData(form);
					    
					$.ajax({
						type : 'POST',
						url : "/employee/addOrUpdateEmployee",
						data : data,
						enctype: 'multipart/form-data',
					    processData: false,
					    contentType: false,
					    cache: false,
						success : function(data) {
							
							showToastr("Successfully Done!!!", "success");
							
							$("#employeesGridId").hide();
							$("#employeeInfoDivId").hide();
							$("#employeeAddDivId").hide(); 
							
							
							
						},
						error : function(jqXHR, exception, textStatus) {
							alert('Uncaught Error.\n' + jqXHR.responseText);
						},
					});
					return false;
				} else {
					return false;
				}
			}
				
				
			function addNewemployee() {
				
				 var file = document.getElementById('fileNameId');
			  		var len=file.value.length;
			  		var ext1=file.value;
			  		var ext=ext1.toUpperCase();
			  		
		      	     if (document.getElementById("userNameId").value == '') {
						showToastr("Please Enter employee Name","error");
						document.getElementById("userNameId").focus();
						return false;
					}else  if (document.getElementById("surNameId").value == '') {
						 showToastr("Please Enter Employee Father Name","error");
							document.getElementById("surNameId").focus();
							return false;
					}else  if (document.getElementById("dobId").value == '') {
						showToastr("Please Enter DOB","error");
						document.getElementById("dobId").focus();
						return false;
					}else  if (document.getElementById("mobileNoId").value == '') {
						showToastr("Please Enter MobileNo","error");
						document.getElementById("mobileNoId").focus();
						return false;
					}else if(document.getElementById('rbMale').checked == false && document.getElementById('rbFeMale').checked ==false ){
						showToastr("Please select gender","error");
			             document.getElementById('rbMale').focus();
			             return false;
			         }else  if (document.getElementById("aadharNoId").value == '') {
						showToastr("Please Enter AadharNo","error");
						document.getElementById("aadharNoId").focus();
						return false;
					}else  if (document.getElementById("subjectId").selectedIndex == 0) {
						showToastr("Please Select Subject","error");
						document.getElementById("subjectId").focus();
						return false;
					}else  if (document.getElementById("dojId").value == '') {
						showToastr("Please Enter DOJ","error");
						document.getElementById("dojId").focus();
						return false;
					}else  if (document.getElementById("schoolNameId").value == '') {
						showToastr("Please Enter SchoolName","error");
						document.getElementById("schoolNameId").focus();
						return false;
					}else  if (document.getElementById("preSchoolNameId").value == '') {
						showToastr("Please Enter Pre. SchoolName","error");
						document.getElementById("preSchoolNameId").focus();
						return false;
					}else  if (document.getElementById("passWordId").value == '') {
						showToastr("Please Enter PassWord","error");
						document.getElementById("passWordId").focus();
						return false;
					}else  if (document.getElementById("designationId").selectedIndex == 0) {
						showToastr("Please Select Designation","error");
						document.getElementById("designationId").focus();
						return false;
					}else  if (document.getElementById("autoEmployeeId").value == '') {
						showToastr("Please Select Manager","error");
						document.getElementById("autoEmployeeId").focus();
						return false;
					}else  if (document.getElementById("empManagerId").value == '') {
							showToastr("Please Select Valid Manager","error");
							document.getElementById("empManagerId").focus();
							return false;
						}else if(document.getElementById("fileNameId").value!="" && (ext.substr(len-3,len)!="JPG" && ext.substr(len-3,len)!="JPEG" && ext.substr(len-3,len)!="PNG" ))
						 {
							 alert("Upload Employee Image JPEG/JPG/PNG Only ");
							 document.getElementById("fileNameId").focus();
							 document.getElementById("fileNameId").value="";
							 return false;
						 } else if (document.getElementById("fileNameId").value!="" && document.getElementById("fileNameId").files[0].size > 1024000) {
								alert("Student Employee Image too big(max 1MB)");
								document.getElementById("fileNameId").value = "";
								return false;
					    }else if (confirm("Do you want to Add New Employee")) {
							
							 var form = $('#submit_form')[0];

							    var data = new FormData(form);
							    
							    
					$.ajax({
						type : 'POST',
						url : "/employee/addOrUpdateEmployee",
						data : data,
						enctype: 'multipart/form-data',
					    processData: false,
					    contentType: false,
					    cache: false,
						success : function(data) {
							
							if(data.indexOf("ERROR-")!=-1) {
								showToastr(data, "error");
							} else {
								showToastr("Successfully Done!!!", "success");
								alert("Save Successfully -- This is your Payroll No :"+ data);
								showPage('/employee/showEmpInformation',false);
								
							}
						},
					error: function () {
						showToastr("Unable to load details","error");
			        }
					});
					return false;
				} else {
					return false;
				}
			}
			
			
			
          function updateStudent(admNo) {
				
        	  var x = document.getElementById("emailId").value;
	      	    var atpos = x.indexOf("@");
	      	    var dotpos = x.lastIndexOf(".");
			
			   if (document.getElementById("stuNameId").value == '') {
					showToastr("Please Enter Student Name","error");
					document.getElementById("stuNameId").focus();
					return false;
				}else if (document.getElementById("surNameId").value == '') {
					 showToastr("Please Enter Sur Name","error");
						document.getElementById("surNameId").focus();
						return false;
					}
			   else  if (document.getElementById("parentNameId").value == '') {
					showToastr("Please Enter Parent Name","error");
					document.getElementById("parentNameId").focus();
					return false;
				}else  if (document.getElementById("pOccupationId").value == '') {
					showToastr("Please Enter Parent Occupation","error");
					document.getElementById("pOccupationId").focus();
					return false;
				}else  if (document.getElementById("localGuardianId").value == '') {
					showToastr("Please Enter Local Guardian","error");
					document.getElementById("localGuardianId").focus();
					return false;
				}else  if (document.getElementById("subCastId").value == '') {
					showToastr("Please Enter Sub Cast","error");
					document.getElementById("subCastId").focus();
					return false;
				}else  if (document.getElementById("castValId").selectedIndex == 0) {
					showToastr("Please Select Cast","error");
					document.getElementById("castValId").focus();
					return false;
				}else  if (document.getElementById("dobId").value == '') {
					showToastr("Please Enter DOB","error");
					document.getElementById("dobId").focus();
					return false;
				}else if(document.getElementById('rbMale').checked == false && document.getElementById('rbFeMale').checked ==false ){
					showToastr("Please select gender","error");
		             document.getElementById('rbMale').focus();
		             return false;
		         }else  if (document.getElementById("mobileNoId").value == '') {
					showToastr("Please Enter MobileNo","error");
					document.getElementById("mobileNoId").focus();
					return false;
				}else  if (document.getElementById("emailId").value == '') {
					showToastr("Please Enter Email","error");
					document.getElementById("emailId").focus();
					return false;
				}else  if (atpos< 1 || dotpos<atpos+2 || dotpos+2>=x.length) {   	
	      	    	showToastr("Please Enter Valid Email Id","error");
	      	        document.getElementById("emailId").focus();
	      	        return false;
	      	    }else  if (document.getElementById("studyClassId").selectedIndex == 0) {
					showToastr("Please Select StudyClass","error");
					document.getElementById("studyClassId").focus();
					return false;
				}else if(document.getElementById('indianReligionId').checked == false && document.getElementById('otherReligionId').checked ==false ){
					showToastr("Please select Religion","error");
		             document.getElementById('indianReligionId').focus();
		             return false;
		         }else  if (document.getElementById("aadhaarId").value == '') {
						showToastr("Please Enter Aadhaar","error");
						document.getElementById("aadhaarId").focus();
						return false;
					}  else  if (document.getElementById("academicYearId").value == '') {
						showToastr("Please Enter Academic Year","error");
						document.getElementById("academicYearId").focus();
						return false;
					}else  if (document.getElementById("schoolNameId").value == '') {
						showToastr("Please Enter School Name","error");
						document.getElementById("schoolNameId").focus();
						return false;
					}else  if (document.getElementById("sectionValId").selectedIndex == 0) {
						showToastr("Please Select Section","error");
						document.getElementById("sectionValId").focus();
						return false;
					}else  if (document.getElementById("perAddressId").value == '') {
						showToastr("Please Enter Permanent Address","error");
						document.getElementById("perAddressId").focus();
						return false;
					}else  if (document.getElementById("pAddressId").value == '') {
						showToastr("Please Enter Present Address","error");
						document.getElementById("pAddressId").focus();
						return false;
					}else if (confirm("Do you want to update student")) {
						
						 var form = $('#submit_form')[0];

						    var data = new FormData(form);
						
						
						$.ajax({
							type : 'POST',
							url : "/student/addNewStudent",
							data : data,
							enctype: 'multipart/form-data',
						    processData: false,
						    contentType: false,
						    cache: false,
							success : function(data) {
								
								if(data.indexOf("ERROR-")!=-1) {
									alert(data);
								} else {
									showToastr("Successfully Updated!!!", "success");
									showPage('/application/applicationSales',false);
									
								}
							},
						error: function () {
							showToastr("Unable to load details","error");
				        }
						});
						
						    
					return false;
				} else {
					return false;
				}
			}
          
          
          
</script>



</body>

</html>