<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<title>Untitled Document</title>

<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">


<link href="jquery.scrolling-tabs.css" rel="stylesheet">

</head>

<body>
<div class="container">


  <div class="col-md-6 col-sm-8"><h2>Question bank</h2></div>
  <div class="col-md-6 col-sm-4">
    <div class="pull-right" style="margin-right:20px">
      <div class="boxSubject">
      <span class="txt18 text-center">8</span>
      <span class="txt12 text-center">Subjects</span>
   </div>
      <div class="boxdivider"></div>
      <div class="boxQuestion">
       <span class="txt18 text-center">160</span>
       <span class="txt12 text-center">Questions</span>
   </div>
    </div>
  </div>
  <div class="col-md-12">
<div class="card card-1">
<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" class="active"><a href="#tab1" role="tab" data-toggle="tab">Tab Number 1</a></li>
  <li role="presentation"><a href="#tab2" role="tab" data-toggle="tab">Tab Number 2</a></li>
  <li role="presentation"><a href="#tab3" role="tab" data-toggle="tab">Tab Number 3</a></li>
  <li role="presentation"><a href="#tab4" role="tab" data-toggle="tab">Tab Number 4</a></li>
  <li role="presentation"><a href="#tab5" role="tab" data-toggle="tab">Tab Number 5</a></li>
  
  <li role="presentation"><a href="#tab6" role="tab" data-toggle="tab">Tab Number 6</a></li>
  <li role="presentation"><a href="#tab7" role="tab" data-toggle="tab">Tab Number 7</a></li>
  <li role="presentation"><a href="#tab8" role="tab" data-toggle="tab">Tab Number 8</a></li>
</ul>
<div class="clearfix mb20"></div>
<!-- Tab panes -->
<div class="tab-content">
  <div role="tabpanel" class="tab-pane active" id="tab1">
     <label>Subject Indexing</label>
     <div class="clearfix"></div>
     <select name="" class="form-control" style="width:120px">
       <option>1</option>
       <option>2</option>
       <option>3</option>
     </select>
     <img src="info.png" alt="" data-toggle="tooltip" data-placement="right" title="This is showing your subject position">
<div class="clearfix mb20"></div>
     <label>Question ID</label>
     <div class="clearfix"></div>
     <textarea name="txtQID" cols="3" rows="4" class="form-control"></textarea>
     <span class="note">Note : Don't use special characters like (!@#$%^&*/\.)</span>
  </div>
  <div role="tabpanel" class="tab-pane" id="tab2">
    <label>Subject Indexing</label>
     <div class="clearfix"></div>
     <select name="" class="form-control" style="width:120px">
       <option>1</option>
       <option>2</option>
       <option>3</option>
     </select>
     <div class="clearfix mb20"></div>
  <label>Question ID</label>
     <div class="clearfix"></div><textarea name="txtQID" cols="3" rows="4" class="form-control"></textarea>
     <span class="note">Note : Don't use special characters like (!@#$%^&*/\.)</span>
  </div>
  <div role="tabpanel" class="tab-pane" id="tab3">
    <label>Subject Indexing</label>
     <div class="clearfix"></div>
    <select name="" class="form-control" style="width:120px">
       <option>1</option>
       <option>2</option>
       <option>3</option>
     </select>
     <div class="clearfix mb20"></div>
  <label>Question ID</label>
     <div class="clearfix"></div><textarea name="txtQID" cols="3" rows="4" class="form-control"></textarea>
     <span class="note txtRed">Note : Don't use special characters like (!@#$%^&*/\.)</span>
  </div>
  <div role="tabpanel" class="tab-pane" id="tab4">
    <label>Subject Indexing</label>
     <div class="clearfix"></div>
     <select name="" class="form-control" style="width:120px">
       <option>1</option>
       <option>2</option>
       <option>3</option>
     </select>
     <div class="clearfix mb20"></div>
  <label>Question ID</label>
     <div class="clearfix"></div><textarea name="txtQID" cols="3" rows="4" class="form-control"></textarea>
     <span class="note">Note : Don't use special characters like (!@#$%^&*/\.)</span>
  </div>
  <div role="tabpanel" class="tab-pane" id="tab5">
    <label>Subject Indexing</label>
     <div class="clearfix"></div>
     <select name="" class="form-control" style="width:120px">
       <option>1</option>
       <option>2</option>
       <option>3</option>
     </select>
     <div class="clearfix mb20"></div>
   <label>Question ID</label>
     <div class="clearfix"></div><textarea name="txtQID" cols="3" rows="4" class="form-control"></textarea>
     <span class="note txtRed">Note : Don't use special characters like (!@#$%^&*/\.)</span>
  </div>
  
  <div role="tabpanel" class="tab-pane" id="tab6">
    <label>Subject Indexing</label>
     <div class="clearfix"></div>
     <select name="" class="form-control" style="width:120px">
       <option>1</option>
       <option>2</option>
       <option>3</option>
     </select>
     <div class="clearfix mb20"></div>
   <label>Question ID</label>
     <div class="clearfix"></div><textarea name="txtQID" cols="3" rows="4" class="form-control"></textarea>
     <span class="note txtRed">Note : Don't use special characters like (!@#$%^&*/\.)</span>
  </div>
  <div role="tabpanel" class="tab-pane" id="tab7">
    <label>Subject Indexing</label>
     <div class="clearfix"></div>
     <select name="" class="form-control" style="width:120px">
       <option>1</option>
       <option>2</option>
       <option>3</option>
     </select>
     <div class="clearfix mb20"></div>
   <label>Question ID</label>
     <div class="clearfix"></div><textarea name="txtQID" cols="3" rows="4" class="form-control"></textarea>
     <span class="note ">Note : Don't use special characters like (!@#$%^&*/\.)</span>
  </div>
  <div role="tabpanel" class="tab-pane" id="tab8">
    <label>Subject Indexing</label>
     <div class="clearfix"></div>
     <select name="" class="form-control" style="width:120px">
       <option>1</option>
       <option>2</option>
       <option>3</option>
     </select>
     <div class="clearfix mb20"></div>
   <label>Question ID</label>
     <div class="clearfix"></div><textarea name="txtQID" cols="3" rows="4" class="form-control"></textarea>
     <span class="note txtRed">Note : Don't use special characters like (!@#$%^&*/\.)</span>
  </div>
</div>
</div>
<div class="clearfix mb20"></div>
<button type="button" class="btn-pri" data-toggle="modal" data-target="#myModal">SAVE and SUBMIT</button>
</div>
</div>
</div>
 
 
 <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
        <table class="table table-bordered table-striped txt12">
          <thead>
            <tr>
                <th style="width:20%">Subject name</th>
                <th style="width:70%">Question IDs</th>
                <th style="width:10%">Total</th>
          	</tr>
          </thead>
          <tbody>
              <tr>
                <td>Math</td>
                <td>1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20</span></td>
                <td>20</td>
              </tr>
              <tr>
                <td>Subject2</td>
                <td>1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20</td>
                <td>20</td>
              </tr>
              <tr>
                <td>Subject3</td>
                <td>1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20</td>
                <td>20</td>
              </tr>
              <tr>
                <td>Subject4</td>
                <td>1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20</td>
                <td>20</td>
              </tr>
              <tr>
                <td>Subject5</td>
                <td>1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20</td>
                <td>20</td>
              </tr>
              <tr>
                <td>Subject6</td>
                <td>1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20</td>
                <td>20</td>
              </tr>
              <tr>
                <td>Subject7</td>
                <td>1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20</td>
                <td>20</td>
              </tr>
              <tr>
                <td>Subject8</td>
                <td>1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20</td>
                <td>20</td>
              </tr>
             
          </tbody>
        </table>
          <p><strong>Are you sure you want to <span class="txtRed">"SAVE"</span> this question bank?</strong></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn-sec" data-dismiss="modal">CANCEL</button>
          <button type="button" class="btn-pri" data-dismiss="modal">YES</button>
        </div>
      </div>
      
    </div>
  </div>
 
 
 
 
<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="jquery.scrolling-tabs.js"></script>
<script>
$('.nav-tabs').scrollingTabs();
$('[data-toggle="tooltip"]').tooltip();
</script>


</body>
</html>
